:root{
    --cell-size:20px;
    --grid-size:10;
}

body{
    background-color: rgb(37, 37, 37);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), calc(var(--cell-size) + 1px));
}

.grid-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: rgb(224, 224, 224);
    margin: 1px;
    text-align: center;
    justify-content: center;
}

.wall{
    background-color: rgb(235, 235, 235);
}

.water{
     background-color: rgb(45, 115, 155);
}

.sand{
    background-color: rgb(233, 227, 170);
}

.wl-0{
    background-color: rgb(245, 248, 200);
}
.wl-1{
    background-color: rgb(233, 227, 170);
}
.wl-2{
    background-color: rgb(101, 179, 101);
}
.wl-3{
    background-color: rgb(84, 155, 84);
}
.wl-4{
    background-color: rgb(64, 126, 64);
}
.wl-5{
    background-color: rgb(50, 102, 50);
}
.wl-6{
    background-color: rgb(37, 82, 37);
}
.wl-7{
    background-color: rgb(105, 105, 105);
}
.wl-8{
    background-color: rgb(145, 145, 145);
}
.wl-9{
    background-color: rgb(185, 185, 185);
}

.selected{
    background-color: rgb(195, 0, 255);
}